<!DOCTYPE html>
<html>
<head>
  <title>Fruits Show Page</title>
</head>
<body>
  
  <h1>Add a fruit</h1>


  <form action="/fruits" method="POST">
    Name: <input type="text" name="name" placeholder="name"><br />
    Color: <input type="text" name="color" placeholder="color"><br />
    ReadyToEat: <input type="checkbox" name="readyToEat"><br />
    <input type="Submit" name="" value="Add Fruit">
  </form>

</body>
</html>