<!DOCTYPE html>
<html>
<head>
  <title>Fruits Show Page</title>
</head>
<body>
  
  <h1>Fruits Show Page</h1>
  <h2>Fruit name: <%= fruit.name%></h2>
  <h2>Fruit color: <%= fruit.color%></h2>
  <h2>
  <% if(fruit.readyToEat === true) { %>
    <span>It is ready to eat</span>
    <% } else { %>
    <span>It is not ready to eat</span>
    <% } %>
  </h2>
  <a href="/fruits">Back to the list</a>
</body>
</html>